@page "/rooms"
@inject IJSRuntime JsRuntime
@inject RoomService RoomService

<h1>Rooms</h1>

@if (Rooms == null)
{
    <Spinner></Spinner>
}
else
{
    <div class="main-action">
        <button @onclick="@(() => CreateClick())" @onclick:stopPropagation="true" class="btn btn-primary">
            <span class="oi oi-plus" aria-hidden="true"></span> Add
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Rooms)
            {
                <tr>
                    <td>
                        @room.RoomId
                    </td>
                    <td>
                        @if (IsAddOrEdit(@room.RoomId))
                        {
                            <input @bind="ToSave.Name" />
                        }
                        else
                        {
                            @room.Name
                        }
                    </td>
                    <td class="action-buttons">
                        @if (IsAddOrEdit(@room.RoomId))
                        {
                            <button @onclick="@(() => SaveClick())" @onclick:stopPropagation="true" class="btn btn-primary margin-5">

                                Save
                            </button>
                            <button @onclick="@(() => CancelClick())" @onclick:stopPropagation="true" class="btn btn-danger margin-5">

                                Cancel
                            </button>
                        }
                        else
                        {
                            <button @onclick="@(() => EditClick(room.RoomId))" @onclick:stopPropagation="true" class="btn btn-primary margin-5">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                                Edit
                            </button>

                            <button @onclick="@(() => DeleteClick(room.RoomId))" @onclick:stopPropagation="true" class="btn btn-danger margin-5">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                                Delete
                            </button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private RoomDto ToSave = new RoomDto();
    private List<RoomDto> Rooms = new List<RoomDto>();

    protected override async Task OnInitializedAsync()
    {
        await ReloadData();
    }

    private void CreateClick()
    {
        if (Rooms.Count() == 0 || Rooms[Rooms.Count-1].RoomId != 0)
        {
            ToSave = new RoomDto();
            Rooms.Add(ToSave);
        }
    }

    private void EditClick(int id)
    {
        ToSave = Rooms.Find(x => x.RoomId == id);
    }

    private async Task DeleteClick(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            await RoomService.DeleteAsync(id);
            await ReloadData();
        }
    }

    private async Task SaveClick()
    {
        if (ToSave.RoomId == 0)
        {
            await RoomService.CreateAsync(ToSave);
        }
        else
        {
            await RoomService.EditAsync(ToSave);
        }

        CancelClick();
        await ReloadData();
    }

    private void CancelClick()
    {
        if (ToSave.RoomId == 0)
        {
            Rooms.RemoveAt(Rooms.Count - 1);
        }
        ToSave = new RoomDto();
    }

    private bool IsAddOrEdit(int id)
    {
        return ToSave.RoomId == id;
    }

    private async Task ReloadData()
    {
        Rooms = await RoomService.ListAsync();
    }
}
